.wrapper {
    width: 100%;
    margin: 0 auto;
    
}

.wrapper .inner {
    width: 100%;
    margin: 0 auto;
}

#header { 
    width:100%;
    background:url(images/fairies.gif) repeat-x;
    height:90px;
 }

nav{
    width:100%;
    background-color: #ffdccd;
    height: 41px;
}

.inner{
    width: 1000px;
    height: 41px;
    margin: auto;
}

.dropbtn {
    position: relative;
    line-height: 3px;
    text-align: center;
    width: 105px;
    height: 41px;
    background-color:#ffdccd;

    padding: 16px;
    font-family: 'latolight', helvetica, arial, sans-serif;
    font-size: 100%;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.dropbtn a{
    text-decoration: none;
}
.navd {
    position: relative;
    display: inline-block;
    float: left;
}


.dropdown-content a {
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: black;;
}

.dropdown-content a:hover {color: black;}

.navd:hover .dropdown-content {
    display: block;
}

.navd:hover .dropbtn {
    background-color:#ffdccd;
}



a { 
    color:white; 
    text-decoration:none;}
a:hover { 
    color:#cd0200;
    text-decoration: underline;
}

body {
    font-family: 'latolight',helvetica,arial,verdana,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857;
    color: #5c5260;

}
.footer {
    background:url(images/fairies.gif) repeat-x;
    height: 50px;
    width:100%;

}

#inner{
    margin: 20px 156px 40px 156px;
}

#welcome{
    height:50px;
    border-bottom: 2px solid #ffdccd;
    text-align: center;
    background-size: 165px auto;
}

p{
    margin:0;
    padding:30px 65px 15px 35px;
    line-height: 25px;
}
h1{
    font-size: 22px;
    line-height: 26px;
    font-family: "Microsoft Yahei";
    font-weight: normal;
    padding-top: 12px;
    padding-bottom: 10px;
    color:#666;
    margin-left:190px;
}

table{
    border-spacing: 0;
}

.group{
    width: 100%;
    margin: 0 0 2px 0;
    border: 0 none;
    border-collapse: collapse;
    background-color: #fff;
}

.questionwrapper{
    width: 100%;
    margin: 0 auto 10px auto;
    border: 1px solid #cce8ff;
    padding: 1px;
    background-color: #FFFFFF;
    background:url(images/f04db958d128c5b0684ddc0eaf9eda9d.jpg);
}

td.questiontext {
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    background-color: #EEF6FF;
    text-align: left;
    padding: 6px 10px;
}
.asterisk {
    color: red;
    font-size: 9px;
    font-family: verdana;
    margin-right: 5px;
}

td.answer {
    padding: 11px 24px 16px 37px;
    text-align: left;
}

li{
    list-style-type: none;
}

.thoughts{
    margin-top: 10px;
    margin-bottom: 10px;
}

.textarea{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 1em
}

label{
    padding: 0.3em 1em 0% 0%;
}

ul{
    margin-left: 0%;
    padding-left: 0%;
}

li{
    list-style-type: none;
    text-align: left;
    margin: 0% 0% 0.5em 0.5em;
}

.submit{
    width: 100%;
    margin: 0;
    padding: 1px;
    text-align: center;
    border: 1px solid #cde7ff;
}

.submit-button{
    background-color: #EEF6FF;
}

button{
    padding: 0;
    border: 1px solid #aed0ea;
    font-weight: bold;
    color:black;
    border-radius: 6px;
}

button :hover{
    border: #ffdccd; 

    font-weight: bold; 
 
    border-radius: 6px;
}
.button-text{
    padding: .4em 1em;
    display: block;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
}

